<%= form_with model: [@commentable, @comment] do |f| %>
  <%= f.text_area :content %>
  <div class="actions">
    <%= f.submit "#{Comment.human_attribute_name(:content_update)}", class: 'btn btn-warning px-5' %>
  </div>
<% end %>
