<%= form_with model: [@commentable, @commentable.comments.update] do |f| %>
  <%= f.text_area :content %>
  <div class=“actions”>
    <%= f.submit "コメントの更新", class: 'btn btn-warning px-5' %>
  </div>
<% end %>
